---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Acerca de"
  description=""
  pubDate={new Date("August 08 2021")}
  heroImage="https://images.unsplash.com/photo-1588756681780-9d5859fc2ca0?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
>
<p>
  ¡Bienvenidos a Biker Diaries! Somos una aplicación creada especialmente para
  los amantes de las motocicletas, diseñados para que puedas organizar y
  disfrutar de tus aventuras sobre dos ruedas de la manera más fácil y
  emocionante. Nuestra misión es proporcionar una plataforma donde los
  motociclistas puedan registrar sus motocicletas, planificar viajes, y conectar
  con otros entusiastas de la comunidad. </p>

  <p>
  En Biker Diaries, cada usuario puede
  iniciar sesión en la aplicación y registrar sus motocicletas, permitiendo un
  control detallado y personalizado de cada máquina. Además, ofrecemos
  herramientas para que puedas organizar tus viajes de forma sencilla: puedes
  ingresar la fecha y hora de inicio y fin, el lugar, y el tipo de evento, ya
  sea un paseo con amigos, un rally, o una competencia de tiempo.</p>
  
<p>Y lo mejor de
  todo, como creador del evento, tienes la posibilidad de invitar a otros
  usuarios a unirse a tu aventura, creando así una experiencia compartida y
  enriquecedora. Queremos que cada viaje sea memorable, por eso, en Biker
  Diaries, los participantes pueden subir comentarios y compartir sus
  experiencias, creando una bitácora de recuerdos y consejos útiles para futuras
  salidas.
</p>

<p>Nuestra aplicación está diseñada para mejorar la organización de tus
  eventos y salidas, fomentando una comunidad donde la pasión por las
  motocicletas y la camaradería están en primer lugar. ¡Únete a Biker Diaries y
  empieza a planear tu próxima gran aventura!</p>
</Layout>
