---
import Slider from "@/components/vue/Slider.vue";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="pb-12">
      <article>
        <div class="px-12 pt-12 hero-image"><Slider client:only="vue" /></div>
        <div class="px-52 py-12">
          <p class="text-center">
            Nuestra aplicación está diseñada para mejorar la organización de tus
            eventos y salidas, fomentando una comunidad donde la pasión por las
            motocicletas y la camaradería están en primer lugar.
          </p>
        </div>
        <div
          class="bg-gradient-to-r from-[#fff] via-[#dee7e6] to-[#fff] text-stone-950 font-bold py-4 px-18 text-center transform transition duration-500 hover:scale-110  cursor-pointer"
        >
          ¡Únete a Biker Diaries y empieza a planear tu próxima gran aventura!
        </div>
        <div class="container mx-auto py-12 px-48">
          <div class="flex flex-wrap -mx-4">
            <!-- Columna 1 -->
            <div class="w-full md:w-1/3 px-4 mb-8">
              <div class="bg-white p-6 rounded-xl shadow-xl border">
                <h2 class="text-xl font-bold mb-2">Planea</h2>
                <p class="text-gray-700">Diseña tu ruta y arma tu viaje</p>
              </div>
            </div>
            <!-- Columna 2 -->
            <div class="w-full md:w-1/3 px-4 mb-8">
              <div class="bg-white p-6 rounded-xl shadow-xl border">
                <h2 class="text-xl font-bold mb-2">Comparte</h2>
                <p class="text-gray-700">Invita a tus amigos</p>
              </div>
            </div>
            <!-- Columna 3 -->
            <div class="w-full md:w-1/3 md:px-4 md:mb-8">
              <div class="bg-white md:p-6 rounded-xl shadow-xl border">
                <h2 class="text-xl font-bold mb-2">Disfruta</h2>
                <p class="text-gray-700">Haz memorable tu viaje!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="md:px-52">
          <p class="text-center">
            Puedes ingresar la fecha y hora de inicio y fin, el lugar, y el tipo de evento, ya sea un paseo con amigos, un rally, o una competencia de tiempo.
            Y lo mejor de todo, como creador del evento, tienes la posibilidad de invitar a otros usuarios a unirse a tu aventura, creando así una experiencia compartida y enriquecedora
          </p>
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
