---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "@/components/Footer.astro";

const user = Astro.locals.user;
const session = Astro.locals.session;

if (user && session) {
  return Astro.redirect('/events/');
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="sm:p-8 md:px-52 md:py-12 flex flex-col space-y-12">

      <!-- Cover -->
      <div>
        <img src="https://images.unsplash.com/photo-1609204276470-d22da7d40a3c" alt="" />
      </div>

      <!-- Titulo -->
      <div class="sm:text-xl md:text-4xl text-primary text-center">Biker Diaries</div>

      <!-- Descripción -->
      <div class="text-justify md:text-2xl">
        <p>
          Nuestra aplicación está diseñada para mejorar la organización de tus
          eventos y salidas, en una comunidad donde la pasión por las
          motocicletas y la camaradería están en primer lugar.
        </p>
      </div>

      <!-- Carousel -->
      <!-- <div class="h-[100px]]"><Slider client:only="vue" /></div> -->

      <div class="text-justify md:text-2xl">
        <p>
          Puedes ingresar la fecha y hora de inicio y fin, el lugar, y el tipo
          de evento, ya sea un paseo con amigos, un rally, o una competencia de
          tiempo. Y lo mejor de todo, como creador del evento, tienes la
          posibilidad de invitar a otros usuarios a unirse a tu aventura,
          creando así una experiencia compartida y enriquecedora
        </p>
      </div>

      <div>
        <div
          class="bg-gradient-to-r from-[#fff] via-secondary to-[#fff] text-white font-bold py-4 px-18 text-center transform transition duration-500 hover:scale-110 cursor-pointer"
        >
          ¡Únete a Biker Diaries y empieza a planear tu próxima gran aventura!
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
