---
import MainLayout from "@/layouts/MainLayout.astro";
import Login from "@/components/vue/Login.vue";

const user = Astro.locals.user;
const session = Astro.locals.session;

if (user && session) {
  return Astro.redirect('/admin');
}
---

<MainLayout title="Sign In">
  <div class="flex flex-col items-center justify-center p-24 mx-auto">
    <div class="w-[350px]" >
      <Login client:visible />
    </div>
  </div>
</MainLayout>
