---
import MainLayout from "@/layouts/MainLayout.astro";
import Login from "@/components/vue/Login.vue";
---

<MainLayout title="Sign In">
  <div class="flex flex-col items-center justify-center p-24 mx-auto">
    <div class="hero-image">
<!--       <img
        width={820} height={310}
        src="https://images.unsplash.com/photo-1572452571879-3d67d5b2a39f?q=80&w=2944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
      /> -->
    </div>
    <div class="w-[350px]" >
      <Login client:load />
    </div>
  </div>
</MainLayout>
