---
import MainLayout from "@/layouts/MainLayout.astro";
import Login from "@/components/vue/Login.vue";
---

<MainLayout title="Sign In">
  <div class="flex flex-col items-center justify-center p-24 mx-auto">
    <div class="w-[350px]" >
      <Login client:load />
    </div>
  </div>
</MainLayout>
