---
import Register from "@/components/vue/Register.vue";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Sign In">
  <div class="flex flex-col items-center justify-center p-24 mx-auto">
      <Register class="w-[350px]" client:load />
    </div>
</MainLayout>
