---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { ViewTransitions } from "astro:transitions";
import Button from "@/components/ui/button/Button.vue";
import {
  LogOut,
  Bike
} from "lucide-vue-next";

const user = Astro.locals.user;
const session = Astro.locals.session;
---

<header
  class="border-b-2 border-[#d5dae2] bg-[#f7f9fc] h-[69px]"
>
  <nav>
    <h2
      class="flex flex-row md:pl-8 md:text-3xl text-md font-bold !text-gray-900 transition duration-300 ease-in-out transform hover:scale-105"
    >
      <a href="/">{SITE_TITLE}</a>
      <Bike size={32} class="mt-4"/>
    </h2>
    <div class="internal-links">
      {!user ? <HeaderLink href="/">Inicio</HeaderLink> : null}
      {user ? <HeaderLink href="/events">Mis Eventos</HeaderLink> : null}
      <HeaderLink href="/about">Acerca de</HeaderLink>
    </div>
    <div class="social-links pr-10">
      {
        user === null ? (
          <HeaderLink href="/signin">Iniciar sesión</HeaderLink>
        ) : (
          <form method="POST" action="/api/auth/signout">
            <div class="">
              <Button variant="outline" size="icon">
                <LogOut />
              </Button>
            </div>
          </form>
        )
      }

      {
        user === null && session === null ? (
          <HeaderLink href="/signup">Registro</HeaderLink>
        ) : null
      }
    </div>
  </nav>
  <ViewTransitions />
</header>
