---
import { ViewTransitions } from "astro:transitions";
import Button from "@/components/ui/button/Button.vue";
import { LogOut, UserCog2Icon, Home, Menu } from "lucide-vue-next";
import ModeToggle from "@/components/vue/toggle/ModeToggle.vue";

const user = Astro.locals.user;
// const session = Astro.locals.session;
---

<!-- <header
  class="bg-gradient-to-r from-sky-400 to-sky-600 shadow-md"
  class="bg-[url('https://images.unsplash.com/photo-1558979159-2b18a4070a87?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center border border-t-0 border-l-0 border-r-0 border-b-2 dark:border-slate-300 border-slate-700"
> -->
<!-- <button id="alert">¡Haz Click!</button> -->

<script>
  // Encuentra todos los botones con la clase `alert` en la página.
  const buttons = document.querySelectorAll("#alert");

  async function logout() {
    const response = await fetch("/api/auth/signout", {
      method: "POST",
    });

    const data = await response.json();

    if (data.clearLocalStorage) localStorage.clear();

    window.location.href = "/";
  }

  // Maneja los clics en cada botón.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      logout();
    });
  });
</script>

<header
  class="shadow bg-black"
>
  <nav>
    <a href="/">
      <img
        class="pl-8"
        src="./../../public/logo/LOGO_WEB.png"
        width="220px"
        alt="Biker Diaries"
      /></a
    >

    <div class="flex flex-row pr-10">
      {
        user ? (
          <>
            <div class="md:flex-none pr-2">
              <Button
                variant="outline"
                size="icon"
                class="bg-transparent transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
              >
                <Menu class={"text-white"} />
              </Button>
            </div>
            <div class="pr-2">
              <form method="POST" action="/">
                <Button
                  variant="outline"
                  size="icon"
                  class="bg-transparent transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
                >
                  <Home class={"text-white"} />
                </Button>
              </form>
            </div>
            <div class="pr-2">
              <form method="POST" action="/profile">
                <Button
                  variant="outline"
                  size="icon"
                  class="bg-transparent transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
                >
                  <UserCog2Icon class={"text-white"} />
                </Button>
              </form>
            </div>
            <div>
              <div id="alert">la
                <Button
                  variant="outline"
                  size="icon"
                  class="bg-transparent transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
                >
                  <LogOut class={"text-white"} />
                </Button>
              </div>
            </div>
          </>
        ) : null
      }
      <!--       <div class="pl-2">
        <ModeToggle client:load />
      </div> -->
      <!-- 
    {
        user === null ? (
          <HeaderLink href="/signin">Iniciar sesión</HeaderLink>
        ) : (
          <div>
            <form method="POST" action="/api/auth/signout">
              <Button
                variant="outline"
                size="icon"
                class="transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
              >
                <LogOut />
              </Button>
            </form>
          </div>
        )
      }
      
      {
        user === null && session === null ? (
          <HeaderLink href="/signup">Registro</HeaderLink>
        ) : null
      } -->
    </div>
  </nav>
  <ViewTransitions />
</header>
