---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_ABR } from "../consts";
import { ViewTransitions } from "astro:transitions";

const user = Astro.locals.user;
const session = Astro.locals.session;
---

<header
  class="bg-gradient-to-r from-primary via-primary to-primary border-b-4 border-slate-300"
>
  <nav>
    <h2
      class="md:text-3xl text-md font-bold !text-slate-100 hover:!text-slate-50 transition duration-300 ease-in-out transform hover:scale-105"
    >
      <a href="/">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links">
      {!user ? <HeaderLink href="/">Inicio</HeaderLink> : null}
      {user ? <HeaderLink href="/events">Mis Eventos</HeaderLink> : null}
      <HeaderLink href="/about">Acerca de</HeaderLink>
    </div>
    <div class="social-links pr-10">
      {
        user === null ? (
          <HeaderLink href="/signin">Iniciar sesión</HeaderLink>
        ) : (
          <form method="POST" action="/api/auth/signout">
            <div class="pt-4">
              <button class="w-full text-black bg-slate-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 transform transition duration-500 hover:scale-110 cursor-pointer">
                Cerrar Sesión
              </button>
            </div>
          </form>
        )
      }

      {
        user === null && session === null ? (
          <HeaderLink href="/signup">Registro</HeaderLink>
        ) : null
      }
    </div>
  </nav>
  <ViewTransitions />
</header>
