---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { ViewTransitions } from "astro:transitions";
import Button from "@/components/ui/button/Button.vue";
import { LogOut, UserCog2Icon } from "lucide-vue-next";
import ModeToggle from "@/components/vue/toggle/ModeToggle.vue";

const user = Astro.locals.user;
const session = Astro.locals.session;
---

<header
  class="border-b-2 border-border h-[69px] bg-gradient-to-r from-slate-400 to-slate-600 dark:bg-gradient-to-r  dark:from-slate-500 dark:to-slate-600"
>
  <nav>
    <a href="/">
      <img
        class="pl-8"
        src="./../../public/logo/default.webp"
        width="220px"
        alt="Biker Diaries"
      /></a
    >
    <!--     <div class="internal-links">
      {!user ? <HeaderLink href="/">Inicio</HeaderLink> : null}
      {user ? <HeaderLink href="/events">Mis Eventos</HeaderLink> : null}
      {!user ? <HeaderLink href="/about">Acerca de</HeaderLink> : null}
    </div> -->
    <div class="social-links pr-10">
      {
        user ? (
          <>
            <div class="pr-2">
              <ModeToggle client:load />
            </div>
            <div class="pr-2">
              <form method="POST" action="/profile">
                <Button
                  variant="outline"
                  size="icon"
                  class="transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
                >
                  <UserCog2Icon class={"hover:text-dark hover:dark:text-white"} />
                </Button>
              </form>
            </div>
            <div>
              <form method="POST" action="/api/auth/signout">
                <Button
                  variant="outline"
                  size="icon"
                  class="transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
                >
                  <LogOut class={"hover:text-dark hover:dark:text-white"} />
                </Button>
              </form>
            </div>
          </>
        ) : null
      }
      <!-- 
    {
        user === null ? (
          <HeaderLink href="/signin">Iniciar sesión</HeaderLink>
        ) : (
          <div>
            <form method="POST" action="/api/auth/signout">
              <Button
                variant="outline"
                size="icon"
                class="transition duration-300 ease-in-out transform hover:scale-110 hover:text-secondary-foreground"
              >
                <LogOut />
              </Button>
            </form>
          </div>
        )
      }
      
      {
        user === null && session === null ? (
          <HeaderLink href="/signup">Registro</HeaderLink>
        ) : null
      } -->
    </div>
  </nav>
  <ViewTransitions />
</header>
