---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { ViewTransitions } from 'astro:transitions';

const user = Astro.locals.user;
const session = Astro.locals.session;
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/about">Acerca de</HeaderLink>
    </div>
    <div class="social-links pr-10">
      <HeaderLink href={user ? "/api/signout" : "/signin"}>
        {user ? "Cerrar sesión" : "Iniciar sesión"}
      </HeaderLink>
    </div>
  </nav>
<!--   USER: {JSON.stringify(user)}
  <hr>
  SESSION: {JSON.stringify(session)} -->

<ViewTransitions />
</header>
<style>
  header {
    margin: 0;
    color: #1e1d1d;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    }
  h2 {
    margin: 0;
    font-size: 1.2em;
    color: #1e1d1d;
    font-weight: 600;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: #a3c6c6;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
