---
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Toaster from "@/components/ui/toast/Toaster.vue";
import Stepper from "@/components/vue/events/create/Stepper.vue";

const { title } = Astro.props;
---

<script is:inline></script>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100">
    <!-- Header fijo -->
    <header class="fixed top-0 left-0 right-0 z-50 bg-white shadow-md">
      <Header />
    </header>

    <div class="flex pt-20">
      <!-- Stepper sticky y centrado -->
      <div class="lg:w-1/5 p-8 h-auto sticky top-24">
        <Stepper client:load />
      </div>

      <!-- Contenido desplazable -->
      <div class="w-full lg:w-4/5 p-8 overflow-y-auto">
        <slot />
      </div>
    </div>

    <Footer />
    <Toaster client:load />
  </body>
</html>

