---
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Toaster from "@/components/ui/toast/Toaster.vue";
import Stepper from "@/components/vue/events/create/Stepper.vue";
import { Card, CardContent } from "@/components/ui/card";

const { title } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100/80">
    <Header />
<!-- 
    <p class="text-xl text-slate-600 font-extralight pb-4">Nuevo Evento</p> -->

   <div class="flex flex-col lg:flex-row">
    <div class="py-12 px-8 border-dashed border-r-2 ">
      <Stepper client:load />
    </div>
    <div class="w-full">
      <slot />
    </div>
   </div>
  </body>
</html>

<Footer />
<Toaster client:load />
