---
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Toaster from "@/components/ui/toast/Toaster.vue";

const { title } = Astro.props;
---

<script is:inline>

</script>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-white">
    <header class="sticky top-0 w-full bg-white z-50 shadow-md">
      <Header />
    </header>

    <div class="md:py-12 md:px-[16%] px-6 py-6 h-[80vh] overflow-y-auto">
      <slot />
    </div>

    <Footer />
    <Toaster client:load />
  </body>
</html>
