---
import MainLayout from "@/layouts/MainLayout.astro";
import CreateEvent from "@/components/vue/events/create/CreateEvent.vue";

const user = Astro.locals.user;
const userId = user ? user.id : null;

if (!userId) return Astro.redirect("/signin");
---

<MainLayout title="Crear evento">
  <section>
    <CreateEvent client:only  :userId="userId"/>
  </section>
</MainLayout>
